<div class="header-container">
  <div class="header-title">
    <p>Administra la información de todos los pacientes</p>
  </div>

  <button class="button is-link" (click)="createNewPatient()">
    <span class="icon is-small"> <i class="fas fa-plus"></i> </span>
    <span> Nuevo paciente </span>
  </button>
</div>

@if (loading) {
<div class="loading-state">
  <i class="fas fa-spinner fa-spin"></i>
  <span>Cargando pacientes</span>
</div>
}@else{
<ag-grid-angular
  [rowData]="rowsData"
  [columnDefs]="colsData"
  style="width: 100%; height: 500px"
  [pagination]="true"
  (rowClicked)="viewPatient($event.data)"
  [defaultColDef]="{
    cellStyle: { cursor: 'pointer' },
    headerStyle: { color: 'grey', fontWeight: 'bold', fontSize: '16px' }
  }"
/>
}
