<div class="sidebar">
  <div class="logo-container">
    <img src="assets/isotipo.png" alt="FisioMove Logo" class="logo" />
    <span class="logo-text" routerLink="/home">FISIOMOVE</span>
  </div>
  <ul class="nav-menu">
    @for (option of sidebarOptions; track option.name) {
    <li class="nav-item">
      <a routerLink="{{ option.route }}" routerLinkActive="active">
        <i class="{{ option.icon }}"></i> {{ option.name }}
      </a>
    </li>
    }
  </ul>
  <div class="quick-access">
    <h3>Acceso Rápido</h3>
    <button class="btn btn-primary" routerLink="/dashboard/appointments/new">
      <i class="fas fa-plus"></i> Nueva Cita
    </button>
    <button class="btn btn-secondary" routerLink="/dashboard/patients/new">
      <i class="fas fa-user-plus"></i> Nuevo Paciente
    </button>
  </div>

  <div class="copyright">
    <p>&copy; 2025 FisioMove. Todos los derechos reservados.</p>
  </div>
</div>
