<div class="sidebar">
  <div class="logo-container">
    <img src="assets/isotipo.png" alt="FisioMove Logo" class="logo" />
    <!-- <span class="logo-text" routerLink="/home">FISIOMOVE</span> -->
    <span class="is-size-4 has-text-link has-text-weight-bold" routerLink="/home">FISIOMOVE</span>
  </div>
  <ul class="nav-menu">
    @for (option of sidebarOptions; track option.name) {
    <li class="nav-item">
      <a routerLink="{{ option.route }}" routerLinkActive="active">
        <i class="{{ option.icon }}"></i> {{ option.name }}
      </a>
    </li>
    }
  </ul>

  <div class="copyright">
    <p>&copy; 2025 Fisiomove. Todos los derechos reservados.</p>
  </div>
</div>
