:root {
  --primary-color: #007aff;
  --text-color: #000000;
  --background-color: #f8f8f8;
  --footer-text-color: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-color: #007aff;
    --text-color: #f8f8f8;
    --background-color: #000000;
    --footer-text-color: #f8f8f8;
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  min-height: 100vh;
}

.text-primary {
  color: var(--primary-color);
}
.bg-primary {
  background-color: var(--primary-color);
}
.text-footer {
  color: var(--footer-text-color);
}

footer {
  background-color: var(--primary-color);
  color: var(--footer-text-color);
  padding: 20px 0;
  text-align: center;
}

footer .social a {
  color: var(--footer-text-color);
  margin: 0 10px;
  font-size: 1.5rem;
  transition: color 0.3s ease;
  text-decoration: none;
}

footer .social a:hover {
  color: var(--text-color);
}
