@import "bulma/css/bulma.css";

:root {
  --bulma-primary-h: 217deg;
  --bulma-primary-s: 91%;
  --bulma-primary-l: 60%;

  --bulma-link-h: 217deg;
  --bulma-link-s: 91%;
  --bulma-link-l: 60%;

  --primary-color: #3b82f6;
  --secondary-color: #6c757d;
  --primary-dark-color: #003065;

  --error-color: #dc3545;
  --warning-color: #ffc107;
  --success-color: #28a745;

  --text-color: #000000;
  --background-color: #f8f8f8;
  --footer-text-color: #ffffff;
}

@font-face {
  font-family: "Monserrat";
  src: url("/assets/fonts/Montserrat-Semibold.otf") format("opentype");
  font-style: normal;
  font-weight: normal;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Monserrat", sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
}

html,
body {
  min-width: 300px; /* ancho mínimo */
}

.text-primary {
  color: var(--primary-color);
}
.bg-primary {
  background-color: var(--primary-color);
}
.text-footer {
  color: var(--footer-text-color);
}

footer {
  background-color: var(--primary-color);
  color: var(--footer-text-color);
  padding: 20px 0;
  text-align: center;
}

footer .social a {
  color: var(--footer-text-color);
  margin: 0 10px;
  font-size: 1.5rem;
  transition: color 0.3s ease;
  text-decoration: none;
}

footer .social a:hover {
  color: var(--primary-dark-color);
}

footer .footer-links a {
  text-decoration: none;
  color: var(--footer-text-color);
  transition: color 0.3s ease;
}

footer .footer-links a:hover {
  color: var(--primary-dark-color);
}

.test {
  height: 2rem;
  width: 2rem;
  background-color: red;
}
